/* 基本样式 */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}


/* 固定在顶部的导航栏 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    z-index: 200;
    position: fixed;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-transition: background-color .5s cubic-bezier(.28, .11, .32, 1);
    transition: background-color .5s cubic-bezier(.28, .11, .32, 1);
    -webkit-transition-property: background-color, -webkit-backdrop-filter;
    transition-property: background-color, -webkit-backdrop-filter;
    transition-property: background-color, backdrop-filter;
    transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
    overflow: hidden
}

header:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: inherit;
    filter: blur(20px);
    background: rgba(220, 220, 220, 0.2)
}
/* 导航链接样式 */
.header-link {
    z-index: 1;
    text-decoration: none;
    color: #000000;
    margin-right: 20px;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.header-link:hover {
    color: #4e4e4e;
}

/* 定义滚动条的样式 */
::-webkit-scrollbar {
    width: 8px; /* 控制滚动条的宽度 */
  }
  
  /* 定义滚动条轨道的样式 */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 轨道的背景色 */
    border-radius: 8px; /* 上下圆角 */
  }
  
  /* 定义滚动条滑块的样式 */
  ::-webkit-scrollbar-thumb {
    background-color: #d4d4d4; /* 滑块的背景色 */
    border-radius: 8px; /* 上下圆角 */
  }
  
  /* 当滚动条被激活（被点击）时滑块的样式 */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #969696; /* 滑块的背景色（悬停时） */
  }
  

.footer {
    margin-top: 30px;
    border-radius: 15px;

}

/* Logo 样式 */
.logo {
    display: flex;
    align-items: center;

}

.logo img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* H1 标题样式 */
h1 {
    margin: 0;
    display: flex;
    align-items: center;
}



/* 应用分类样式 */
.app-category {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
}

/* 应用网格布局 */
.app-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
}

/* 应用项样式 */
.app-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 15px;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.app-item:hover {
    background-color: #f5f5f5;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* 应用图标样式 */
.app-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* 应用详情样式 */
.app-details {
    flex: 1;
}

.app-name {
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0;
    color: #222;
}

.app-description {
    font-size: 12px;
    margin: 0;
    color: #444;
}

.app-link {
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    font-size: 12px;
    color: #007bff;
    transition: color 0.3s;
}

.app-link:hover {
    color: #0056b3;
}

.image-container {
    max-width: 100%;
    overflow: hidden;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* 响应式布局 */
@media (max-width: 600px) {
    .image-container img {
        max-width: 300%;
        /* Show the middle 50% of the image */
        left: -100%;
        /* Adjust the positioning to show the middle */
        transform: none;
        /* Reset the transform */
    }

    /* 轮播图响应式调整 */
    .slider-wrap {
        height: 50px;
    }

    .slider .slider-list .item {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .slider .slider-list .item.cur {
        display: block;
    }
}

/* 链接样式 */
a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

/* 鼠标悬停链接样式 */
a:hover {
    color: #ff9900;
}